{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Hello Fans! Welcome to the Ballots!</h1>
      {{ range .prs}}
        <b>#{{ .Number }}: <a href={{ .Html_url }}>{{ .Title }}</a></b>
        <br>
        <a href={{ .Diff_url }}>Link to Diff</a>
        <br>
        by <a href={{ .User.Html_url }}>{{ .User.Login }}</a>
        <br>
        <img src={{ .User.Avatar_url }} style="max-height: 100px; max-width: 100px;">
        <pre>{{ .Body }}</pre>
        <a href="/ballots/{{ .Number }}">Ballots</a>
        <br>
        <br>
      {{end}}
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
