{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Hello Fans!</h1>
      {{ range .prs}}
        <b>#{{ .Number }}: <a href={{ .Html_url }}>{{ .Title }}</a></b>
        <br>
        <a href={{ .Diff_url }}>Link to Diff</a>
        <br>
        {{ .User.Login }}
      {{end}}
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
