{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>Welcome to the Ballots!</h1>
    </div>
      {{ range .prs}}
      <div class="row">
        <h4><b>#{{ .Number }}: <a href={{ .Html_url }}>{{ .Title }}</a></b></h4>
        <br>
        <img src={{ .User.Avatar_url }} style="max-height: 100px; max-width: 100px;">
        <br>
        By <a href={{ .User.Html_url }}>{{ .User.Login }}</a>
        <br>
        <pre>{{ .Body }}</pre>
        <a href="/ballots/{{ .Number }}/100">Ballots</a>
        <br>
        <br>
      </div>
      {{end}}
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
